.text-slider-container {
    overflow: hidden;
    background-color: #003366;
    color: white;
    padding: 5px 0;
    position: relative;
    white-space: nowrap;
}

.text-slider {
    display: inline-block;
    padding: 0 100%;
    animation: slide 25s linear infinite;
    animation-play-state: running;
}

.text-slider:hover {
    animation-play-state: paused;
}

.text-slider p {
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
    font-size: 18px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}